#footer{
    position: absolute;
    bottom: 0;
    right: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-pad{
    width: 100%;
    height: 50px;
    clear: both;
}
.ui-draggable .ui-dialog-titlebar {
    display: none;
}
.ui-dialog .ui-dialog-titlebar {
    display: none;
}
.hidden-all{
    display: none;
}
.icon-click{
    background-image: url(../img/icon/ico-click.png);
}
.tbl-scroll-y{
    overflow-y: auto;
}
.wd-1000{
    width: 1000px;
}
.w-input-100 input{
    width: 100%;
}
.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0;
    background: 0;
}
.ui-widget-content .ui-datatable-empty-message{ display: none;}
.navbar .nav-item .nav-link {
    border-right: 1px solid #3b3b3b;
}
.nav-link, .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.btn.btn-sm {
    padding: .2rem .4rem;
    font-size: .9rem;
}
.btn.btn-md {
    padding: .3rem .5rem;
    font-size: 1rem;
}
.card-footer, .card-header {
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    background-color: rgba(0,0,0,.03);
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: 0em;
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}
.ui-calendar input{
    width: 100px;
    text-align: center;
}
.card-footer, .card-header {
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    background-color: rgba(0,0,0,.03);
}
.text-lg-50{
    font-size: larger;
}
.card{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.spinner-month{
    width: 50px;
}
.spinner-month input{
    width: 50px;
}
.spinner-year{
    width: 70px;
}
.spinner-year input{
    width: 70px;
}
.col-tbl-idx{
    width: 70px;
}