/* The sidenav */
.sidenav {
    height: 100%;
    width: 210px;
    z-index: 1;
    float: right;
    background-color: #111;
    overflow-x: hidden;
}
.sidenav a{
    padding-left: 20px;
    width: 210px;
    line-height: 35px;
    color: #000000;
    display: block;
    vertical-align: middle;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    background-color: #ffffff;
}
.sidenav a:hover{
    color: #ffffff;
    padding-left: 30px;
    background-color: #186ba0;
}
.sidenav .active{
    color: #ffffff;
    background-color: #186ba0;
}
/* Page content */
.main {
    /*margin-left: 200px; !* Same as the width of the sidenav *!*/
    float: left;
}
#main-detail-1 .card-title{
    padding: 20px;
}